doctype html
html
  head
    title Отдых и развлечения
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/index.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body(onload='test()')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') ОТДЫХ И РАЗВЛЕЧЕНИЯ
          a.mail-btn(href='#')
            img(src='/images/mail-btn.png')
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1= title
        p
          | Советы по разноообразию вашего отдыха. Какие необычные развлечения придумать себе на досуге, куда пойти отдохнуть и многие другие способаы расслабления - обо всем читайте на нашем сайте.
        p
          a.btn.btn-primary.btn-lg(href='/sections', role='button') Смотреть все »
    .container
      // Example row of columns
      .row
        #article-0.col-md-4
          a(href='#{link0}')
            img(src='#{cover0}')
          h2= name0
          p= promo0
        .col-md-4
          a(href='#{link1}')
            img(src='#{cover1}')
          h2= name1
          p= promo1
        .col-md-4
          a(href='#{link2}')
            img(src='#{cover2}')
          h2= name2
          p= promo2
      .row
        .col-md-4
          a(href='#{link3}')
            img(src='#{cover3}')
          h2= name3
          p= promo3
        .col-md-4
          a(href='#{link4}')
            img(src='#{cover4}')
          h2= name4
          p= promo4
        .col-md-4
          a(href='#{link5}')
            img(src='#{cover5}')
          h2= name5
          p= promo5
      .row
        .col-md-4
          a(href='#{link6}')
            img(src='#{cover6}')
          h2= name6
          p= promo6
        .col-md-4
          a(href='#{link7}')
            img(src='#{cover7}')
          h2= name7
          p= promo7
        .col-md-4
          a(href='#{link8}')
            img(src='#{cover8}')
          h2= name8
          p= promo8
      hr
      footer
        p © Dnimreven 2015
    // /container