doctype html
html
  head
    title Отдых и развлечения
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/index.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body(onload='test()')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') ОТДЫХ И РАЗВЛЕЧЕНИЯ
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1= title
        p
          | Советы по разноообразию вашего отдыха. Какие необычные развлечения придумать себе на досуге, куда пойти отдохнуть и многих других способах расслабления - обо всем читайте на нашем сайте.
        p
          a.btn.btn-primary.btn-lg(href='/sections', role='button') Разделы сайта »
    .container
      // Example row of columns
      .row
        #article-0.col-md-4
          img(src='#{img0}')
          h2= name0
          p= about0
          p
            a.btn.btn-default(href='#', role='button') Подробнее »
        .col-md-4
          img(src='#{img0}')
          h2
          p
          p
            a.btn.btn-default(href='#', role='button') Подробнее »
        .col-md-4
          img(src='#{img0}')
          h2
          p
          p
            a.btn.btn-default(href='#', role='button') Подробнее »
      .row
        .col-md-4
          img(src='#{img0}')
          h2
          p
          p
            a.btn.btn-default(href='#', role='button') Подробнее »
        .col-md-4
          img(src='#{img0}')
          h2
          p
          p
            a.btn.btn-default(href='#', role='button') Подробнее »
        .col-md-4
          img(src='#{img0}')
          h2
          p
          p
            a.btn.btn-default(href='#', role='button') Подробнее »
      .row
        .col-md-4
          img(src='#{img0}')
          h2
          p
          p
            a.btn.btn-default(href='#', role='button') Подробнее »
        .col-md-4
          img(src='#{img0}')
          h2
          p
          p
            a.btn.btn-default(href='#', role='button') Подробнее »
        .col-md-4
          img(src='#{img0}')
          h2
          p
          p
            a.btn.btn-default(href='#', role='button') Подробнее »
      hr
      footer
        p © Dnimreven 2015
    // /container